KomisjaWyborcza/public/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation>test</xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:complexType name="user">
                <xsd:sequence>
                    <xsd:element name="userToken" type="xsd:string"/>
                    <xsd:element name="choseToken" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="changeTokenRequest">
        <wsdl:part name="user" type="xsd:user"/>
    </wsdl:message>
    <wsdl:message name="changeTokenResponse">
        <wsdl:part name="status" type="xs:string"/>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="changeToken">
            <wsdl:input message="tns:changeTokenRequest"/>
            <wsdl:output message="tns:changeTokenResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeToken">
            <soap:operation soapAction="http://komisjawyborcza.oo/webService/service"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="BookLibrary">
            <soap:address location="http://komisjawyborcza.oo/webService/service"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>